section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1464037866556-6812c9d1c72e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YWlycGxhbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover; */
    background:url("https://images.unsplash.com/photo-1464037866556-6812c9d1c72e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YWlycGxhbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60") center/40% no-repeat, rgb(73, 226, 226);
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: white;
}