/* *{
    color: pink;
} */

button {
    font-size: 10px;
    background-color: #a8dadc;
}

h1,h2 {
    color: #ff006e;
}

body {
    background-color: #f1faee;
}

#signup {
    background-color: #264653;
    color: #f1faee;
}

/* #login {
    background-color: #f1faee;
    color: #264653;
} */

.post a {
    text-decoration: none;
    font-weight: 700;
}

span {
    color: #ffafcc;
}

.tag {
    background-color: #e63946;
}

span a {
    color: #a8dadc;
}

footer a {
    color: #4cc9f0;
}

/* input + button {
    background-color: gold;
} */

h2 + button {
    font-size: 20px;
}

footer > a {
    color: gold;
}

input[type="password"] {
    color: red;
}

a[href*="google "]{
    color: purple;
}

.post button:hover{
    background-color: red;
    color:#f1faee;
}

.post a:active{
    background-color: pink;
}

a:hover {
    color:black;
    text-decoration: underline;
}

.post:nth-of-type(3n){
    background-color: #dfe8dc;
}
h2::first-letter{
    color:black;
    font-size:40px;
}

p::first-line{
    color:purple;
}

::selection{
    background-color: white;
}

p::selection{
    background-color: #fcbf49;
}

p::before{
    content:"메롱메롱";
    color: red;
}